@import "tailwindcss";

@theme {
  --color-areia: #e3b448;
  --color-ameixa: #5b2a86;
  --color-ameixa-dark: #2d1b33;
  --color-ameixa-light: #3d2744;
  --color-creme: #f4ead5;
}

.theus{
  color: #8a4dab;
  background-color: #3d2744;

}


@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  ol, ul {
    list-style: none;
  }

  body {
    background-color: var(--color-creme);
    color: var(--color-black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}
